*{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}
body{
    background: black;
    color: white;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/bkgrnd.jpg);
    background-size: cover;
    padding: 10px 8px;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10%;
}
.nav2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10%;
}

.logo{
    width: 100px;
    cursor: pointer;
}

nav button {
    border: 0;
    outline: 0;
    background: red;
    color: white;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.language-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid white;
    padding: 7px 10px;
}
.language-btn img {
    width: 10px;
    margin-left: 10px;
}


.header-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;
}

.header-content h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}
.header-content h3{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
}

.email-signup {
    background: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}

.email-signup input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}
.email-signup button{
    background: red;
    border: 0;
    outline: 0;
    color: white;
    font-size: 15px;
    cursor: pointer;
    padding: 15px 30px;
}



.footer {
    border-top: 6px solid #333;
    color: #777;
}
.footer h2{
    padding-top: 15px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    text-decoration: none;
}
.footer .col {
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}
.row {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.footer .row{
    align-items: flex-start;
    padding: 50px 10px;
}
.footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}
.footer .language-btn{
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
}
.copyright-txt {
    padding: 10px 10%;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;text-decoration: none;
    color: #777;
}
